<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Painel</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="form-inline">
            <h6 class="m-0 font-weight-bold text-primary mr-3">
                Dados da planta:
            </h6>
            <select class="form-control">
                <option>#233232 </option>
            </select>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Data/Hora</th>
                        <th>Temperatura</th>
                        <th>Umidade</th>
                        <th>Pressão Atmosférica</th>
                        <th data-toggle="tooltip" data-placement="top" title="Metano">CH4</th>
                        <th data-toggle="tooltip" data-placement="top" title="Propano"> C3H8</th>
                        <th data-toggle="tooltip" data-placement="top" title="Hidrogenio">H</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Data/Hora</th>
                        <th>Temperatura</th>
                        <th>Umidade</th>
                        <th>Pressão Atmosférica</th>
                        <th data-toggle="tooltip" data-placement="top" title="Metano">CH4</th>
                        <th data-toggle="tooltip" data-placement="top" title="Propano"> C3H8</th>
                        <th data-toggle="tooltip" data-placement="top" title="Hidrogenio">H</th>
                    </tr>
                </tfoot>
                <tbody>
                    <!-- Linha corpo tabela -->
                    <tr>
                        <td>25/04/2020 16:14:47</td>
                        <td>28 C°</td>
                        <td>33%</td>
                        <td>4,7%</td>
                        <td>1,2%</td>
                        <td>3,6%</td>
                        <td>5%</td>
                    </tr>

                    <tr>
                        <td>25/04/2020 13:14:47</td>
                        <td>30 C°</td>
                        <td>31%</td>
                        <td>4,2%</td>
                        <td>1,6%</td>
                        <td>3,3%</td>
                        <td>9%</td>
                    </tr>

                    <tr>
                        <td>25/04/2020 09:14:47</td>
                        <td>26 C°</td>
                        <td>32%</td>
                        <td>4,8%</td>
                        <td>1,8%</td>
                        <td>3,9%</td>
                        <td>6%</td>
                    </tr>

                    <tr>
                        <td>25/04/2020 06:14:47</td>
                        <td>22 C°</td>
                        <td>31%</td>
                        <td>4,4%</td>
                        <td>1,1%</td>
                        <td>3,1%</td>
                        <td>8%</td>
                    </tr>

                    <tr>
                        <td>25/04/2020 02:14:47</td>
                        <td>19 C°</td>
                        <td>50%</td>
                        <td>3,3%</td>
                        <td>2,2%</td>
                        <td>1,6%</td>
                        <td>8%</td>
                    </tr>

                    <tr>
                        <td>24/04/2020 23:14:47</td>
                        <td>20 C°</td>
                        <td>43%</td>
                        <td>3,7%</td>
                        <td>2,2%</td>
                        <td>2,6%</td>
                        <td>6%</td>
                    </tr>


                    <!-- Linha corpo tabela -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>